.es_search_box_input {
    width: 300px!important;
    z-index: 1000;
}

.es_item_title em{
    color: CornflowerBlue;
}

.es_item_description em{
    color: DarkCyan;
}

.es_item_title{
    font-weight: bold;
}

.es_item_description{
    font-size: 0.8em;
}

.ui-autocomplete {
    z-index:1000;
}

.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
   background-color: lavender;
}

.es_search_icon {
    cursor: pointer;
}